@import '@/styles/colors';

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  padding: 10px;

  background-color: rgb(0 0 0 / 1%);

  &-container {
    justify-content: space-between;
  }

  &-name {
    display: inline-block;
    color: transparent;
    background: radial-gradient(circle, rgb(191 136 54), rgb(242 222 138));
    background-clip: text;
  }
}
