@import '@/styles/colors';

.button {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  border: none;
  outline: 2px solid transparent;
}

.primary {
  padding: 14px;
  background-color: $color-dark-900;
  border: 1px solid $color-dark-900;
  border-radius: 24px;

  &:hover {
    color: $color-gold-700;
    border: 1px solid $color-gold-700;
  }
}

.secondary {
  min-width: 245px;
  max-height: 56px;
  padding: 20px 32px;

  border: 1px solid $color-light-100;
  border-radius: 12px;

  &:hover {
    color: $color-gold-700;
    border: 1px solid $color-gold-700;
  }
}

.fullWidth {
  width: 100%;
}
