.about-us {
  position: relative;
  margin: 40px 0;

  &-container {
    position: relative;
    max-width: 1820px;
    border-radius: 12px;

    &-image {
      width: 100%;
    }

    &-text {
      position: absolute;
      gap: 36px;
      max-width: 1820px;
      padding: 100px;

      &-title {
        font-size: 34px;
        line-height: 29px;
      }

      &-content {
        font-size: 28px;
        line-height: 29px;
      }

      &-center {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }

      &-left {
        left: 0;
        align-items: flex-start;
        max-width: 1140px;
      }

      &-right {
        right: 0;
        align-items: flex-start;
        max-width: 800px;
      }
    }
  }
}

@media (width >= 1012px) and (width <= 1500px) {
  .about-us {
    &-container {
      &-image {
      }

      &-text {
        gap: 20px;
        padding: 20px;

        &-left {
          left: 50%;
          transform: translateX(-50%);

          align-items: center;

          width: 100%;
          max-width: 1820px;

          text-align: center;
        }

        &-right {
          left: 50%;
          transform: translateX(-50%);

          align-items: center;

          width: 100%;
          max-width: 1820px;

          text-align: center;
        }
      }
    }
  }
}

@media (width <= 1012px) {
  .about-us {
    &-container {
      &-text {
        gap: 10px;
        padding: 10px;

        &-title {
          font-size: 28px;
          line-height: 28px;
        }

        &-content {
          font-size: 17px;
          line-height: 17px;
        }

        &-center {
        }

        &-left {
          left: 50%;
          transform: translateX(-50%);

          align-items: center;

          width: 100%;
          max-width: 1820px;

          text-align: center;
        }

        &-right {
          left: 50%;
          transform: translateX(-50%);

          align-items: center;

          width: 100%;
          max-width: 1820px;

          text-align: center;
        }
      }
    }
  }
}
