.about-us {
  position: relative;
  margin: 40px 0;

  &-container {
    position: relative;
    max-width: 1820px;
    border-radius: 12px;

    &-image {
      width: 100%;
    }

    &-text {
      position: absolute;
      gap: 36px;
      max-width: 1820px;
      padding: 100px;

      &-center {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }

      &-left {
        left: 0;
        align-items: flex-start;
        max-width: 1140px;
      }

      &-right {
        right: 0;
        align-items: flex-start;
        max-width: 800px;
      }
    }
  }
}
