@import '@/styles/colors';

.getPriceForm {
  padding: 68px 0 76px;
  background-color: $color-dark-700;

  &-container {
    position: relative;

    &-image-left {
      position: absolute;
      bottom: 80px;
      left: -170px;
    }

    &-image-right {
      position: absolute;
      right: -80px;
      bottom: -123px;
    }
  }

  &-title {
    span {
      color: $color-gold-700;
    }
  }

  &-content-box {
    gap: 74px;
    margin-top: 42px;

    &-text {
      gap: 42px;
      max-width: 400px;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
