@import '@/styles/colors';

.get-price-form {
  padding: 68px 0 76px;
  background-color: $color-dark-700;

  &-container {
    position: relative;

    &-image-left {
      position: absolute;
      bottom: 80px;
      left: -170px;
    }

    &-image-right {
      position: absolute;
      right: -80px;
      bottom: -123px;
    }
  }

  &-title {
    span {
      color: $color-gold-100;
    }
  }

  &-content-box {
    gap: 74px;
    margin-top: 42px;

    &-text {
      gap: 42px;
      max-width: 400px;

      &-title {
        font-size: 34px;
        line-height: 42px;
      }

      &-content {
        font-size: 28px;
        line-height: 29px;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media (width <= 768px) {
  .get-price-form {
    &-content-box {
      flex-direction: column;
      gap: 32px;
      margin-top: 32px;

      &-text {
        gap: 10px;
        max-width: 340px;

        &-title {
          font-size: 17px;
          line-height: 17px;
        }

        &-content {
          font-size: 17px;
          line-height: 17px;
        }
      }
    }
  }
}
